<div class="shell">
    <div *ngIf="restaurantsWithAdd$ | async as restaurants" class="container">
        <mat-card *ngFor="let restaurant of restaurants" class="spacer">
            <mat-card-content>
                {{restaurant.title}} {{restaurant.id}}
                {{restaurant.category}}
            </mat-card-content>
            <mat-card-footer>
                <app-edit-restaurant [currentRestaurantId]="restaurant.id">
                    
                </app-edit-restaurant>
            </mat-card-footer>
        </mat-card>
    </div>
    <!-- <button (click)="pushRes()">Push</button> -->
</div>

