<div class="shell">
    <div *ngIf="restaurants$ | async as restaurants" class="container">
        <mat-card *ngFor="let restaurant of restaurants" class="spacer">
            <mat-card-content>
                {{restaurant.attributes.title}}
                {{restaurant.attributes.description}}
            </mat-card-content>
            <mat-card-footer>
                <app-edit-restaurant>
        
                </app-edit-restaurant>
            </mat-card-footer>
        </mat-card>
    </div>
</div>

